<%- include("../partials/header") %>
<h2 id="forumHeader" class="title display-3">Welcome to Profile Setting, <%= currentUser.Username %></h2>

<div class="container my-5">
    <div class="card my-5 text-center">
        <h1 class="my-3">Edit Your Profile Here</h1>
        <a id="profile-button" href="/profile/<%= currentUser.user_id %>/edit" type="button"
            class="btn btn-lg btn-primary"><strong>EDIT</strong></a>
    </div>
    <br>
    <br>
    <div class="card my-5 text-center">
        <h1 class="my-3">View Your Order History Here</h1>
        <a id="history-button" href="/profile/<%= currentUser.user_id %>/history" type="button"
            class="btn btn-lg btn-primary"><strong>VIEW</strong></a>
    </div>
</div>

<br>
<br>
<br>



<%- include("../partials/footer") %>