<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="/style/Main.css"> -->
    <link rel="stylesheet" href="/style/comment.css">
    <title>Mix n Match</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Mix & Match</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/forum">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guide">Guide</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <% if(!currentUser){ %>
                <li class="mr-3"><a href="/register" class="text-light display-5">Signup <i
                            class="fa fa-user-plus"></i></a></li>
                <li><a href="/login" class="text-light display-5">Login <i class="fa fa-user"></i></a></li>
                <% } else { %>
                <li class="mr-3"><a href="/profile" class="text-light display-5">Welcome,
                        <%= currentUser.Username %></a></li>
                <li><a href="/logout" class="text-light display-5">Logout<i class="fa fa-user"></i></a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <% if(error && error.length > 0){ %>
    <div class="container mt-3 mb-0 p-0">
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="container mt-3 mb-0 p-0">
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    </div>
    <% } %>

    <h2 id="forumHeader" class="title display-2 mb-5">Discussion Page</h2>
    <div class="thumbnail">
    </div>

    <div class="container my-5">
        <div class="card">
            <div class="card-body pt-4 pl-4">
                <h5 class="card-title"><%= post.title %></h5>
                <h6 class="card-subtitle"><em>Submitted by <%= post.author.username %></em></h6>
                <p id="postContent" class="card-text my-5"><%- post.content %></p>
                <!-- <a onclick="escapeVal(this.form.area,'<br>')" class="btn btn-success">View Original</a> -->
                <% if(currentUser && post.author.id == currentUser.user_id){ %>
                <a href="/forum/<%= post._id %>/edit" class="btn btn-warning">Edit</a>
                <form id="delete-form" action="/forum/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <% } %>
            </div>
        </div>
        <% post.comments.forEach(function(comment) { %>
        <div class="card">
            <div class="row align-items-center no-gutters .d-flex">
                <div class="col-md-2 border-right text-center align-middle">
                    <p class="profile-name mt-3"><strong><%= comment.author.username %></strong></p>
                </div>
                <div class="col-md-10" style="width: 100%;">
                    <div class="card-body">
                        <p class="card-text"><%- comment.text %></p>
                    </div>
                </div>
            </div>
            <% if(currentUser && comment.author.id == currentUser.user_id){ %>
            <a class="btn btn-xs btn-primary" href="/forum/<%= post._id %>/comments/<%= comment._id %>/edit">Edit</a>
            <form action="/forum/<%= post._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                <input type="submit" class="btn btn-xs btn-danger" value="Delete" style="width: 100%;">
            </form>
            <% } %>
        </div>
        <% }) %>
        <div class="row justify-content-end pr-3 my-5">
            <a id="toggle-button" type="button" class="text-light btn btn-lg btn-info">Add a Comment</a>
        </div>
        <div id="toggleStyle" class="my-5">
            <form action="/forum/<%= post._id %>/comments" method="POST">
                <div class="container">
                    <p class="reply-title">Your reply</p>
                    <div class="card comment-box">
                        <div class="form-group">
                            <label for="reply-box">Reply:</label>
                            <textarea id="reply-box" name="comment[text]" class="form-control"
                                aria-label="With textarea" placeholder="Enter your message..." required></textarea>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-lg btn-info btn-primary">
                </div>
            </form>
        </div>
    </div>

    <script src="/js/jquery.js"></script>
    <script type="text/javaScript" src="/js/comment.js"></script>
    <script type="text/javaScript" src="/js/linebreak.js"></script>
    <%- include("../partials/footer") %>